/**/
    #minuteStr {
        color: #ff0000;
        font-size: 50px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ffd900;
        font-size: 60px;
        text-align: left;
        position:absolute; top:210px; 
        left:50px; right:10px;
        overflow-wrap: break-word;
    }

    #thirdStr {
        color: #15ff00;
        font-size: 70px;
        text-align: left;
        position:absolute; top:210px; 
        left:100px; right:10px;
        overflow-wrap: break-word;
    }

    #forthStr {
        color: #00fff2;
        font-size: 70px;
        text-align: left;
        position:absolute; top:210px; 
        left:160px; right:10px;
        overflow-wrap: break-word;
    }

    #fifthStr {
        color: #0044ff;
        font-size: 70px;
        text-align: left;
        position:absolute; top:210px; 
        left:220px; right:10px;
        overflow-wrap: break-word;
    }

    #sixthStr {
        color: #ae00ff;
        font-size: 60px;
        text-align: left;
        position:absolute; top:210px; 
        left:280px; right:10px;
        overflow-wrap: break-word;
    }

    #seventhStr {
        color: #ff00bf;
        font-size: 50px;
        text-align: left;
        position:absolute; top:210px; 
        left:330px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        font-weight: bold;
    }
    
    #time {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow: 5px 5px 5px;
        width: 50%;
        margin: 0 auto;
    }
    #time::after{
        content: "秒";
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:33%; height:60px; 
        background-color: rgb(255, 187, 0);
        color: rgb(155, 255, 142);
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:35%; width:33%; height:60px; 
        background-color: rgb(0, 255, 200);
        color: rgb(142, 159, 255);
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:380px; left:68%; width:33%; height:60px;
        background-color: rgb(183, 0, 255);
        color: rgb(255, 142, 199); 
    }
    #btnD {
        font-size: 20px;
        position:absolute; top:500px; left:35%; width:33%; height:60px;
        background-color: rgb(255, 0, 0);
        color: rgb(142, 150, 255); 
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:100px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:230px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}
    body {
         background-color: rgb(0, 0, 0);
    }
    button{
        color: blue;
        font-family: Times;
        border-radius: 20px;
    }    